* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.main-navigation {
  display: flex;
  background-color: black;
  width: 90px;
  overflow: hidden;
  /* opacity: 0.4; */
  position: fixed;
  height: 100vh;
  transition: all 0.5s;
  justify-items: center;
  align-items: center;
  
  border-style: solid;
  border-width: 0 1px 0 0;
  border-right-color: white;
}

.main-navigation:hover {
  width: 280px;
}

nav,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: sans-serif;
}

.main-navigation nav {
  width: 100vw;
}
.main-navigation li {
  display: flex;
  align-items: center;
  margin: 0 0 25px;
  /* color: white; */
}

.main-navigation i {
  margin: 5px 25px
}

/* style keyboard */

.container-keyboard {
  width: 50vw;
  height: 100vh;
  margin-left: 90px;
  
  border-style: solid;
  border-width: 0 1px 0 0;
  border-right-color: white;
}

.body-keyboard {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body-keyboard input {
  background-color: transparent;
  border-width: 0;
  font-size: 40px;
  width: 60vh;
}

input::placeholder {
  color: white;
  font-weight: 700;
}

.keyboard {
  padding-top: 40px;
}

.row-keyboard {
  display: flex
}

.nv-item {
  color: white;
}

.nv-active {
  background-color: white;
  color: black;
}









