* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  overflow-y: hidden;
}

.nv-item {
  color: white;
}

.nv-active {
  background-color: white;
  color: black;
}

.container {
  display: flex;
}

.main-navigation {
  display: flex;
  background-color: black;
  width: 90px;
  overflow: hidden;
  /* opacity: 0.4; */
  position: fixed;
  height: 100vh;
  transition: all 0.5s;
  justify-items: center;
  align-items: center;
  
  border-style: solid;
  border-width: 0 1px 0 0;
  border-right-color: white;
}

.main-navigation-active {
  width: 280px;
}

nav,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: sans-serif;
}

.main-navigation nav {
  width: 100vw;
}
.main-navigation li {
  display: flex;
  align-items: center;
  margin: 0 0 25px;
  /* color: white; */
}

.main-navigation i {
  margin: 5px 25px
}

/* style keyboard */

.container-keyboard {
  width: 50vw;
  height: 100vh;
  margin-left: 90px;
  
  border-style: solid;
  border-width: 0 1px 0 0;
  border-right-color: white;
}

.body-keyboard {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body-keyboard input {
  background-color: transparent;
  border-width: 0;
  font-size: 40px;
  width: 60vh;
}

input::placeholder {
  color: white;
  font-weight: 700;
}

.keyboard {
  padding-top: 40px;
}

.row-keyboard {
  display: flex
}

.container-videos {
  width: 50vw;
  height: 100vh;
  
  border-style: solid;
  border-width: 0 1px 0 0;
  border-right-color: white;
}

.body-videos {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row-titles {
  height: 40%;
  width: 90%;
  padding-top: 5%;
}

.row-videos {
  margin-top: 5%;
  height: 40%;
  width: 100%;
}

.container-videos h2 {
  color: white;
}

.items-wrapper {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.items {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  position: relative;
}

.itemTitle {
  flex: none;
  height: 90%;
  width: 180px;
  margin-left: 10px;
}

.itemTitle:first-child {
  margin-left: 0;
}

.itemTitle img {
  height: 70%;
  width: 100%;
  object-fit: cover;
}

.itemVideos {
  flex: none;
  height: 90%;
  width: 180px;
  margin-left: 10px;
}

.itemVideos:first-child {
  margin-left: 0;
}

.itemVideos img {
  height: 70%;
  width: 100%;
  object-fit: cover;
}








